@import 'https://fast.fonts.net/cssapi/4f9f837d-7aff-4ca2-baad-329b614db55e.css';
@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';


//*****************Font Face*****************/
$primary-font: Avenir Next Cyr W00 Regular;
$primary-font-bold: Avenir Next Cyr W00 Bold;
$primary-font-demi: Avenir Next Cyr W00 Demi;
$primary-font-medium:Avenir Next Cyr W00 Medium;
$font-icon:FontAwesome;
//*****************Font Face Ends*****************/
