$img-path: "images/";
//*****************Theme Colors *****************/
$primary-color:#2B3990;
$primary-color-2:#D41D6D;
$secondary-color-1:#0085CA;
$secondary-color-2:#E35205;
$secondary-color-3:#fd8e02;
$nutral-color-1:#D0D0CE;
$nutral-color-2:#888B8D;
$nutral-color-3:#B1B3B3;
$nutral-color-4:#53565A;
$nutral-color-5:#f2f2f2;
$theme-bright:#fff;
$theme-dark:#000;
$bullets-color:#fc8e03;

// gradient



//*****************Theme Colors Ends*****************/
//*****************Theme Units *****************/
$null:0;
$full:100%;
$du:2px;
$f-du:2vh;
$none:none;
//*****************Theme Units Ends *****************/