.our-churches{
    // background:$primary-color;
    padding-top: $du*30;
    padding-bottom: $du*30;

    .section-title{
        h2{
            margin-bottom: $du*20;
        }
    }
    .section-title-float{
        h2{
            text-align: right;
            margin-bottom: $du*7.5;
            @include theme-font($primary-font, $f-du*1+1, $bold, normal, none);
            &::after{
                right: $null;
                @include respond-to($phone) {
                   @include horizontal-center;
                }
            }
            @include respond-to($phone) {
                text-align: center;
            }
        }
        p{
            @include theme-font($primary-font, $f-du, $medium, normal, none);
            text-align: right;
            color:$primary-color;
            @include respond-to($phone) {
                text-align: center;
            }
        }
        img{
            width: $du*50;
            float: right;
            margin-top: $du*30;
            @include respond-to($phone) {
                @include horizontal-block-center;
                float: inherit;
                margin-top: $du*7.5;
            }
        }
    }

    .church-list{
        @include horizontal-block-center;
	    @include flexbox();
        @include flex-direction(row);
        @include flex-wrap(wrap);
        @include justify-content(flex-start);
        @include align-items(stretch);
        @include align-content(stretch);
        max-width:$full*1-30;
        @include respond-to($phone) {
            max-width:$full*1-10; 
        }
        
        .church{
            max-width:$full/2;
            width: $full;
            margin-top: $du*10;
            margin-bottom: $du*10;
            @include respond-to($phone) {
                max-width:$full;
            }
            h3{
                text-align: left;
                @include theme-font($primary-font, $f-du*1+.5, $bold, normal, none);
                color:$primary-color;
                padding: $du*2.5 $null;
                padding-top: $null;
            }
            p{
                text-align: left;
                @include theme-font($primary-font, $f-du, $regular, normal, none);
                padding:$du*2.5 $null ;
                color:$primary-color;
            }
            h6{
                text-align: left;
                @include theme-font($primary-font, $f-du, $bold, normal, none);
                color:$primary-color;
                //border-top: solid $du $theme-bright;;
                padding: $du*10 $null;
                padding-top: $null;
                width: $full*1-20;
                //@include horizontal-block-center;
                position: relative;
                &::after{
                    content: "";
                    width: $full/4-15;
                    height: $du*3;
                    background-color: $primary-color-2;
                    position: absolute;
                    bottom: $null;
                    left: $null;
                }
            }
        }
    }
}