.crew{
    padding-top: $du*30;
    padding-bottom: $du*30;
    .section-title{
       // margin-bottom: $du*75;
        h2{
            margin-bottom: $du*20;
        }
    }
    
    .team-member{
        background: $nutral-color-1;
        @include border-radius($du*3);
        position: relative;
        padding: $du*30 $null;
        margin: $du*60 $du*2.5 $null;
        .avatar-rounded{
            @include horizontal-center;
            top:-$full/2;
            background: $theme-bright;
            border: $du*2 solid  $nutral-color-1;
            overflow: hidden;
            padding: $du*2.5;
            img{
           
            }
        }
        
        h3{
            text-align: center;
            @include theme-font($primary-font, $f-du*1+.5, $bold, normal, none);
            color:$primary-color;
            padding: $du*2.5 $null;
            padding-top: $null;
        }
        p{
            text-align: center;
            @include theme-font($primary-font, $f-du, $regular, normal, none);
            padding:$du*2.5 $null ;
            color:$primary-color;
        }
    }
}